
body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overall {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 275px;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

.location {
    color: #a1ff60;

}

.bio {
    font-size: 14px;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;

}

.btn:hover {
    background: #555;
}

@media (max-width: 375px) {
    .overall {
        width: 90%;
    }
}
