body{
    padding: 0;
    margin: 0;
    background-color:#F6DC43;
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overall{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    width: 340px;
    box-shadow: 10px 10px;
}

.img1{
    border-radius: 10px;
}

button{
    padding: 5px;
    background-color: #F6DC43 ;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    
}

a{
    text-decoration: none;
    color: black;
}

button:hover{
    background-color:yellow ;
}

.third{
    display: inline-flex;
    align-items: start;
}


.img2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.p2{
    padding-left: 15px;
    font-weight: bold;
}

@media(max-width: 320px){
    body{
        padding: 0;
        margin: 0;
        background-color:#F6DC43;
        color: black;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
     .overall{
        width: 50%;
     }
     .img1{
        width: 100%;
     }
}

@media(min-width:321px) and (max-width:480px){
    body{
        padding: 0;
        margin: 0;
        background-color:#F6DC43;
        color: black;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .overall{
        width: 50%;
     }
     .img1{
        width: 100%;
     }
}

@media(min-width:481px) and (max-width:768px){
    body{
        padding: 0;
        margin: 0;
        background-color:#F6DC43;
        color: black;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .overall{
        width: 75%;
     }
     .img1{
        width: 100%;
     }
}
